.auth {
	/* margin: 3rem auto; */
	margin: var(--size-8) auto;
	/* width: 95%; */
	width: 90%;
	/* max-width: 25rem; */
	max-width: 35rem;
	border-radius: 6px;
	/* background-color: var(--color-grey-900); */
	background-color: var(--color-grey-100);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	/* padding: 1rem; */
	padding: var(--size-4);
	text-align: center;
	font-size: var(--size-6);
}

.auth h1 {
	font-size: var(--size-16);
	margin: var(--size-4) 0;
	text-align: center;
	/* color: var(--color-grey-100); */
}

.control {
	margin-bottom: var(--size-2);
}

.control label {
	display: block;
	/* color: var(--color-grey-100); */
	font-weight: bold;
	margin-bottom: var(--size-2);
	/* margin: var(--size-2) 0 var(--size-1) 0; */
}

.control input {
	font: inherit;
	padding: var(--size-1);
	border-radius: 4px;
	width: 100%;
	border: 1px solid var(--color-grey-400);
	background-color: var(--color-grey-50);
	/* color: var(--color-primary-600); */
	/* text-align: left; */
	/* padding: 0.25rem; */
}

.actions {
	margin-top: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.actions button {
	cursor: pointer;
	font: inherit;
	/* color: var(--color-grey-100); */
	color: var(--color-primary-50);
	/* background-color: var(--color-primary-200); */
	background-color: var(--color-primary-700);
	border: 1px solid var(--color-primary-700);
	border-radius: 4px;
	/* padding: 0.5rem 2.5rem; */
	padding: var(--size-2) var(--size-4);
	/* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); */
}

.actions button:hover {
	background-color: var(--color-primary-500);
	border-color: var(--color-primary-500);
}

.actions .toggle {
	margin-top: 1rem;
	background-color: transparent;
	color: var(--color-primary-600);
	border: none;
	/* padding: 0.15rem 1.5rem; */
	padding: var(--size-2) var(--size-4);
}

.actions .toggle:hover {
	background-color: transparent;
	color: var(--color-primary-200);
}
